body{
  background-color: lightblue;
}

.top {
  height: 200px;
  width: 200px;
  border: solid 10px;
  padding: 20px;
  background-color: lightyellow;
}

.middle{
  height: 200px;
  width: 200px;
  border: solid  20px ;
  margin-left: 260px;
  background-color: gold;
}


.bottom{
  height: 200px;
  width: 200px;
  border: solid 10px ;
  margin-left: 500px;
  background-color: green;
}
 .cu{
   height: 700px;
   width: 700px;
   border: solid 10px;
   padding: 20px;
   background-color: lightyellow;
 }
